    - name: Setup Conda
      uses: conda-incubator/setup-miniconda@v3
      with:
        miniforge-variant: Mambaforge
        activate-environment: margohan_env
        environment-file: MLProject/conda.yaml
        python-version: 3.10
        auto-activate-base: false

    - name: Install dependencies (fallback)
      shell: bash -l {0}
      run: |
        conda activate margohan_env
        pip install --upgrade pip setuptools wheel
        pip install -r requirements.txt || echo "No requirements.txt found"
